# Create an account on themoviedb.org and grab your API Read Access Token
VITE_TMDB_API_KEY=YOUR_TMDB_API_KEY_HERE

# Free subtitle API key from https://subdl.com/setting
VITE_SUBDL_API_KEY=YOUR_SUBDL_API_KEY_HERE
